<!-- author: Si Yinbo-->
@using FIT5032_assignment.Models;
@{
    ViewBag.Title = "Home Page";

    var appliances = ViewData["appliances"] as List<Appliances>;
}

<style>
    .applianceBox {
        margin-top: 40px;
    }

    .flex-container {
        width: 1000px;
        height: 800px;
    }

    .flex-item {
        background-color: #e5efff;
        width: 30%;
        height: 300px;
        float: left;
        list-style: none;
        margin: 10px;
        padding: 10px;
        text-align: center;
    }

    .appliancePic {
        width: 200px;
    }

    .applianceName {
        font-size: x-large;
        margin-top: 5px;
    }

    .appliancePrice {
        font-size: large;
    }

    .applianceDetail {
        margin-left: 220px;
    }
</style>

<div class="applianceBox">
    <ul class="flex-container">
        @foreach (var appliance in appliances)
        {
            <li class="flex-item">
                <img class="appliancePic" src="@appliance.Img_Url" />
                <div class="applianceName">@appliance.AppName</div>
                <div class="appliancePrice">
                    <span class="label label-info">￥@appliance.Price</span>
                </div>
                <div class="btn-link applianceDetail">@Html.ActionLink(">>>", "Detail", "Home", new { applianceId = appliance.Id }, new { })</div>
            </li>
        }
    </ul>

</div>